<!DOCTYPE html>
<html lang="en" class="app">
<head>
  <meta charset="utf-8" />
  <title>Visual Analises Demographic</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

  <link rel="stylesheet" href="../archivos_estaticos/metro-4.2.30/css/metro-all.min.css">
  <link rel="stylesheet" href="../archivos_estaticos/pick-a-color-1.2.3.min.css">
  <link rel="stylesheet" href="../archivos_estaticos/my-styles.css">
</head>
  <body>

    <div class="grid">
        <div class="row fixed-top header">
            <div class="cell-12">
              <div>
                  <ul class="h-menu" id="application-menu">
                      <li>
                          <a href="#" class="dropdown-toggle">File</a>
                          <ul class="d-menu" data-role="dropdown">
                              <li><a href="#" id="open">Open File...</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Office</a></li>
                              <li>
                                <a href="#" class="dropdown-toggle">Excel</a>
                                <ul class="d-menu" data-role="dropdown">
                                    <li><a href="#">ok</a></li>
                                    <li><a href="#"">ok</a></li>
                                    <!-- <li class="divider"></li> -->
                                    <li><a href="#">Nssc</a></li>
                                </ul>
                            </li>
                          </ul>
                      </li>
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Help</a></li>
                  </ul>
              </div>
            </div>
        </div>
        <div class="row content">
            <div class="cell-12 h-100">
                <div data-role="panel"
                data-title-caption="Panel title"
                data-title-icon="<span class='mif-chart-line mif-5x'></span>">
                <canvas id="mycanvas" style="height:210px"></canvas>
              </div>
            </div>
        </div>
    </div>


    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../archivos_estaticos/Metro-UI-CSS-master/docs/js/jquery-3.3.1.min.js"></script>
    <script src="../archivos_estaticos/metro-4.2.30/js/metro.min.js"></script>
    <script src="../archivos_estaticos/ChartJS/Chart.js"></script>
    <script>
        require('../Controller/index_Controller.js')
    </script>
  </body>
</html>
